{% extends "doctor_base.html" %}
{% load static %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-sm-7 col-6">
            <h4 class="page-title">My Profile</h4>
        </div>

        <div class="col-sm-5 col-6 text-right m-b-30">
            <a href="{% url 'edit_doctor_profile' %}" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Edit Profile</a>
        </div>
    </div>
    <div class="card-box profile-header">
        <div class="row">
            <div class="col-md-12">
                <div class="profile-view">
                    <div class="profile-img-wrap">
                        <div class="profile-img">
                            <a href="#"><img class="avatar" src="{{ profile_picture }}" alt="Profile Picture"></a>
                        </div>
                    </div>
                    <div class="profile-basic">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="profile-info-left">
                                    <h3 class="user-name m-t-0 mb-0">{{ user_profile.user.username }}</h3>
                                    <small class="text-muted">{{ user_profile.usertype|title }}</small>
                                    <div class="staff-id">Employee ID: {{ user_profile.user.username }}</div>
                                    <div class="staff-msg"><a href="chat.html" class="btn btn-primary">Send Message</a></div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <ul class="personal-info">
                                    <li>
                                        <span class="title">Phone:</span>
                                        <span class="text">{{ doctor_contact.phone_number }}</span>
                                    </li>
                                    <li>
                                        <span class="title">Email:</span>
                                        <span class="text">{{ user_profile.user.email }}</span>
                                    </li>
                                    <li>
                                        <span class="title">Birthday:</span>
                                        <span class="text">{{ user_profile.date_of_birth|date:"d M Y" }}</span>
                                    </li>
                                    <li>
                                        <span class="title">Address:</span>
                                        <span class="text">{{ doctor_contact.address }}</span>
                                    </li>
                                    <li>
                                        <span class="title">Gender:</span>
                                        <span class="text">{{ user_profile.gender }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>
        </div>
    </div>

    <div class="profile-tabs">
        <ul class="nav nav-tabs nav-tabs-bottom">
            <li class="nav-item"><a class="nav-link active" href="#about-cont" data-toggle="tab">About</a></li>
            <li class="nav-item"><a class="nav-link" href="#bottom-tab2" data-toggle="tab">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="#bottom-tab3" data-toggle="tab">Messages</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane show active" id="about-cont">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">
                            <h3 class="card-title">Education Information</h3>
                            <div class="experience-box">
                                <ul class="experience-list">
                                    {% for education in doctor_education %}
                                    <li>
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <p><strong>Institution:</strong> {{ education.institution|default:"Not Provided" }}</p>
                                                <p><strong>Award:</strong> {{ education.award|default:"Not Provided" }}</p>
                                                <p><strong>Specialization:</strong> {{ education.specialization|default:"Not Provided" }}</p>
                                                <p><strong>Start Date:</strong> {{ education.start_date|date:"Y"|default:"Not Provided" }}</p>
                                                <p><strong>Completion Date:</strong> {{ education.completion_date|date:"Y"|default:"Not Provided" }}</p>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card-box">
                            <h3 class="card-title">Experience</h3>
                            <div class="experience-box">
                                <ul class="experience-list">
                                    {% for experience in doctor_experience %}
                                    <li>
                                        <div class="experience-user">
                                            <div class="before-circle"></div>
                                        </div>
                                        <div class="experience-content">
                                            <div class="timeline-content">
                                                <p><strong>Company Name:</strong> {{ experience.company_name|default:"Not Provided" }}</p>
                                                <p><strong>Location:</strong> {{ experience.location|default:"Not Provided" }}</p>
                                                <p><strong>Job Title:</strong> {{ experience.job_position|default:"Not Provided" }}</p>
                                                <p><strong>From:</strong> {{ experience.period_from|date:"Y"|default:"Not Provided" }}</p>
                                                <p><strong>To:</strong> {{ experience.period_to|date:"Y"|default:"Not Provided" }}</p>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="bottom-tab2">
                Tab content 2
            </div>
            <div class="tab-pane" id="bottom-tab3">
                Tab content 3
            </div>
        </div>
    </div>
</div>
{% endblock %}
