{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="content">
    <div class="row">
        <div class="col-sm-4 col-3">
            <h4 class="page-title">Patients</h4>
        </div>
        <div class="col-sm-8 col-9 text-right m-b-20">
            <a href="{% url 'doctor_add_patient' %}" class="btn btn-primary btn-rounded float-right">
                <i class="fa fa-plus"></i> Add Patient
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover table-striped custom-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for patient in patients %}
                        <tr>
                            <td>
                                <img width="28" height="28" 
                                    src="{% if patient.profile_picture %}{{ patient.profile_picture.url }}{% else %}{% static 'assets/img/user.jpg' %}{% endif %}" 
                                    class="rounded-circle m-r-5" alt="">
                                {{ patient.user.first_name }} {{ patient.user.last_name }}
                            </td>
                            <td>
                                {% if patient.age %}
                                    {{ patient.age }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            
                            <td>
                                {% if patient.user.patientcontactinfo %}
                                    {{ patient.user.patientcontactinfo.address }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>
                                {% if patient.user.patientcontactinfo %}
                                    {{ patient.user.patientcontactinfo.phone }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            
                            <td>{{ patient.user.email }}</td>
                            <td>
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">
                                            <i class="fa fa-pencil m-r-5"></i> Edit
                                        </a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_patient">
                                            <i class="fa fa-trash-o m-r-5"></i> Delete
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">No patients found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
